
.poster-display {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poster-display img {
    width: 65%;
    max-height: 90vh;
    border-radius: .4rem;
}

/* .poster-display h3 {
    margin: 1rem;
} */