
.upload-post-div input {
    min-width: 6rem;
}

.postImagePreview {
    background-color: rgba(255, 255, 255, 0.13);
    background-image: url('/src/assets/upload-image.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 80%;
    aspect-ratio: 1/1;
}