
.toolbar {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    
    position: absolute;
    top: 1rem;
    right: 1rem;

    padding-inline: 1rem;

    z-index: 10;
}

.toolbar button a {
    color: inherit;
    text-decoration: inherit;
}


@media screen and (max-width: 450px) {
    .toolbar {
        flex-direction: column;
        width: 90%;
        right: 0;
    }
}
