DATABASE_URL=postgresql://myuser:secretpassword@localhost:5432/mydb?schema=public

JWT_SECRET=big_secret_key
JWT_EXPIRATION_TIME=1h # Optional, default is 1 hour

GAMMA_CLIENT_ID=SOMETHINGLIKETHISXM4KXNH4DEXXY
GAMMA_REDIRECT_URI=http://localhost:3000/api/auth/gamma/callback
GAMMA_CLIENT_SECRET=SOMETHINGLIKETHISJ2DVRRBYMWKJ44Q
GAMMA_PRE_SHARED_AUTH=pre-shared 125c3155-1234-4698-kd7t-ahb39899afc5:JHyfav6zWZuAaRlbNOhnetG8xk5fAafU

FRONTEND_URL=http://localhost:3000
LOG_LEVEL=info # Optional, default is 'info'. Can be set to: "silent", "error", "warn", "info" or "debug"

SEED_USER_ID=b69a0ccd-01d1-475e-adc5-99ff017b7fd74
SEED_USER_USERNAME=Göken 🐦
SEED_USER_ROLE=user