DATABASE_URL=postgresql://myuser:secretpassword@localhost:5432/mydb?schema=public

JWT_SECRET=big_secret_key

GAMMA_CLIENT_ID=SOMETHINGLIKETHISXM4KXNH4DEXXY
GAMMA_REDIRECT_URI=http://localhost:3000/api/auth/gamma/callback
GAMMA_CLIENT_SECRET=SOMETHINGLIKETHISJ2DVRRBYMWKJ44Q

FRONTEND_URL=http://localhost:3000 