
.navigation {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    position: absolute;
    top: 1rem;
    right: 1rem;

    width: max-content;
}

.navigation a {
    background-color: antiquewhite;
    color: #000;

    text-decoration: none;
    font-family: inherit;

    padding: .5rem;
    border-radius: .3rem;

    transition: .25s ease-in-out;
}

.navigation a:hover {
    background-color: #000;
    color: antiquewhite;
}