
.create-event-popup h2{
    margin: 0;
}

.create-event-popup input {
    min-width: 6rem;
}

.create-event-popup .postImagePreview {
    background-color: var(--background-color);
    background-image: url('/src/assets/upload-image.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    aspect-ratio: 1/1;
    width: 100%;
    border-radius: .5rem;
}

.create-event-popup #uploadNewEventImageInput {
    width: min-content;
    max-width: 13rem;
    padding: 0;
    border: 0;
}