#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;

    position: relative;

    width: 100%;
    min-height: 100vh;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    gap: 1rem;

    width: 100%;
}

.shadowBox {
    background-color: var(--shadowBoxColor);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.popupbox {
    background-color: #000000c9;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    padding: 2rem;
    border-radius: .5rem;
    border: #fff solid .1rem;

    position: absolute;
    top: 5rem;
    right: 2rem;
}

.popupbox hr {
    border-color: #fff;

    width: 100%;
}